*{
  padding: 0;
  margin: 0;
}

body{
    margin: 0;
 

}

header> .interface{

    justify-content: space-between;
    align-items: center;
}



.img-topo img{
    max-width: 100%;
    margin: 0;
    display: block;
}

/*botão*/
.img-topo {
    position: relative;
    text-align: center;
}

.img-topo button{
    position:absolute;
    top:80%;
    left:50%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
    background-color: #556B2f;
    border: none;
    border-radius: 15px;
    padding: 15px 15px;

}

.img-topo button a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.img-topo button a:hover{
    color: #008b8b;
}

.img-topo h1{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
  color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 5px 5px grey;
    font-size: 60px;
}

.img-topo p{
    position:absolute;
    top:60%;
    left:50%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
  color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
color: white;
}



 .menu{
    text-align: center;



 }

 .menu ul{
    justify-content: space-between;
background-color:#556B2f;
opacity: 80%;
 }

.menu li {
    display: inline-block;
    margin: 0 50px;

}

.menu li a{
    padding: 5px 5px;
  margin-left: 30px;
display: inline-block;
    text-align: center;
    margin: 10px;
    height: 5vh;
    text-decoration: none;
    color: white;
    font-size: 30px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.menu li a:hover{
    color:  #008b8b;
}

section{
    display: flex;
    flex-direction: row-reverse;

}

main{

    padding: 0;
    
}

.saude h3{
    
    text-align: center;
    padding: 0;
    color: #556B2f;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
   text-decoration: underline;

}

.saude p{

    font-size: 22px;
    padding: 5%;
    
}

.saude img{
    border-radius: 20px;
    box-shadow: 1px 5px 5px 5px #008b8b;
}


/*Bem estar*/

.bem-estar h3{

    text-align: center;
    margin-top: 200px;
    padding: 0%;
    color: #556B2f;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
   text-decoration: underline;
}

.bem-estar p{
    text-align: justify;
    font-size: 22px;
    text-align: center;
}

.img-bem img{

   
    border-radius: 20px;
    box-shadow: 1px 5px 5px 5px #008b8b;
}


/*objetivos e metas*/

.objetivo h4{

    padding: 20px 4%;
    margin-top: 50px;
    font-size: 25px;
    color: #008b8b;
    text-align: justify;
 
}

.objetivo img{
    margin-top: 50px;
}


.objetivo p{
  word-break: normal;
    margin-top: 120px;
    padding: 3px 4%;
    color: #556B2f;
    text-align: justify;
}

/*botao saiba mais*/

.btn-ods {
   padding: 4%;
    text-align: start;

}

.btn-ods button{
    font-size: 20px;
    margin-top: 40px;
    background-color: #556B2f;
    padding: 15px 15px 15px;
    border-radius: 10px;
    border: none;
}


/*informações nas laterais*/
aside{
    height: 100vh;
    padding: 2%;
    width: 18vh;
    margin-top: 50px;
    
 
}

aside h2{
font-size: 30px;
color: #556B2f;

}

aside li{
margin-top: 70px;
list-style: none;
}

aside a{

    color: #556B2f;
    font-size: 20px;
    text-decoration: none;
    text-decoration: underline;
}


aside a:hover{
    color: #008b8b;
}

.saude{
    text-align: center;
    margin-top: 100px;
}

.artigos h3{
    font-size: 30px;
    padding: 10px 10px;
    color: #556B2f;
    margin-top: 300px;
}


/*rodape*/

footer{
text-align: center;
padding:20px 4%;
margin-top: 200px;
background-color: #556B2f;


} 

.contato{
    padding: 5px 0%;
    margin-top: 50px;

}

.contato h3{

    margin-bottom: 30px;
    font-size: 30px;
  
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 30px;
}

.contato h4{
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contato p{
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}

.redes-sociais{
    text-align: center;
   
}

#instagram{
    margin: 10px;
  background-color:#E1306C;
  border-radius: 5px;
}

#git{
    background-color: blueviolet;
}

.redes-sociais i{
   
    margin-top: 50px;
    background-color:#0e76a8;
    color:  white;
    font-size: 30px;
    cursor: pointer; 
    border-radius: 5px;
    margin: 10px;
}

.redes-sociais a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}

.redes-sociais a:hover{
    color: #008b8b;
}


/*creditos*/

.line{
    margin-top: 50px;
    border: 3px solid white;
}




.creditos h3{

    color: white;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: start;
}

.creditos p,a{
text-align: start;
color: white;
text-decoration: none;
font-size: 20px;
}

.creditos a:hover{
    color: #008b8b;
}

.e-mail a{
font-size: 25px;

}

.e-mail a:hover{
    text-decoration: underline;
    color: #008b8b;
}

/*responsividade*/
@media screen and (max-width:1020px) {

    section, main{
        display: block;
    }


    aside{
        display: none;
    }

.e-mail a{
    display: inline-block;
    font-size: 20px;
}

    .saude img{
        width: 300px;
    }
    
.img-topo img{
margin: 0;
max-width: 100%;
display: block;

}


.bem-estar img{
    margin: 0;
    max-width: 100%;

 
}

.img-topo button{
 display: none;
}

.img-topo h1{
    font-size: 15px;
    text-shadow: none;
}

.img-topo p{
    display: none;

}

.menu ul{
  
    text-align: center;
   
    
}

.menu li a{
    font-size: 15px;
    color: black;
    
}



.objetivo img{

    margin-top: 30px;
}

.redes-sociais i a {
    display: block;
}

.btn-ods button{
     
    font-size: 50px;
    width: 150px;
}

.btn-ods button a:hover{
text-align: center;
color: #008b8b;
}

.redes-sociais i{

display: none;
    
}

.redes-sociais a{
color:#E1306C
}

}
